{% extends 'tools/base.html' %}

{% block content %}
<div class="container d-flex justify-content-center mx-auto h-100 align-items-center">

  <div class="mt-5 pt-5 mt-5">

    <div class="row">
      <div class="col-md-12 text-center float-md-none mx-auto">
        <img src="https://mdbcdn.b-cdn.net/img/Others/404_mdb.png" alt="Error 404" class="img-fluid" width="300" >
      </div>
    </div>
    
    <div class="row mt-5">
      <div class="col-md-12 text-center mb-5 pb-5">
        <h2 class="h2-responsive" style="font-weight:500;">Oops! This obviously isn't a page you were looking for.</h2>
      </div>
    </div>
   
  </div>

</div>
{% endblock %}
