{% extends 'tools/base.html' %}

{% block content %}

<div class="card">
    <div class="card-header h4 white-text primary-color">
        <strong>Dictionary</strong>
    </div>
    <div class="card-body">
        
        <form method="post">
            {% csrf_token %}
            {% load widget_tweaks %}
            <div class="row md-form">
                <div class="col-lg-8 col-12">                
                    {% render_field form.query class="form-control" type="text" placeholder="Search" aria-label="Search" %}
                    <!-- <input class="form-control" type="text" placeholder="Search" aria-label="Search"> -->
                </div>
                <div class="col-lg-2 col-6">
                    {% render_field form.option class="mdb-select colorful-select dropdown-primary" %}
                    <!-- <select class="mdb-select colorful-select dropdown-primary">
                        <option value="1">Meaning</option>
                        <option value="2">Synonym</option>
                        <option value="3">Antonym</option>
                    </select> -->
                </div>
                <div class="col-lg-2 col-6">
                    <button class="input-group-text primary-color text-white" type=submit><i class="fas fa-search mr-2"></i>Search</button>
                </div>
            </div>
            
        </form>
    </div>
</div>

{% if searchResult %}
<div class="card mt-4">
    <div class="card-body my-1">
        <h4 class="text-dark font-weight-bold mb-4"><strong>{{ query }}</strong> - <span class="lead">{{ option | capfirst }}</span></h4>
        {% ifequal option 'meaning'%}
            {% for key, value in searchResult.items %}
                <h5>{{ key }} - </h5>
                <div class="list-group list-group-flush mb-4">
                    {% for i in value%}
                    <li class="list-group-item">{{ i }}</li>
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
        <div class="list-group list-group-flush">
            {% for i in searchResult %}
            <li class="list-group-item">{{ i }}</li>
            {% endfor %}
        </div> 
        {% endifequal %}  
    </div>
</div>
{% endif %}

{% endblock %}