{% extends 'tools/base.html' %}

{% block content %}

<div class="card">
    <div class="card-header h4 white-text primary-color">
        <strong>Web Search</strong>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {% load widget_tweaks %}
            <div class="input-group">
                {% render_field form.query class="form-control" type="text" placeholder="Search" aria-label="Search" %}
                <!-- <input class="form-control" type="text" placeholder="Search" aria-label="Search"> -->
                <div class="input-group-append">
                    <button class="input-group-text primary-color text-white" type=submit><i class="fas fa-search mr-2"></i>Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% if searchResult %}
<div class="card mt-4">
    <div class="card-body my-1">
        <h4 class="text-dark font-weight-bold mb-4"><strong>{{ query }}</strong></h4>
        <div class="list-group list-group-flush">
            {% for link in searchResult %}
            <a href="{{ link }}" target="_blank" class="list-group-item list-group-item-action">{{ link }}</a>
            {% endfor %}
        </div>
    </div> 
</div>
{% endif %}

{% endblock %}