{% extends 'tools/base.html' %}

{% block content %}

<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-10 col-sm-12 mx-auto mt-1">
        <div class="card">
            <div class="card-header h4 white-text primary-color text-center py-4">
                <strong>Reset Password</strong>
            </div> 
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {% load widget_tweaks %}
                    <div class="md-form">
                        {% render_field form.new_password1|add_error_class:"is-invalid" type="password" id="password1" class="form-control" %}
                        <!-- <input type="password" id="password1" class="form-control"> -->
                        <label for="password1">New Password</label>
                        {% for error in form.errors.new_password1 %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="md-form">
                        {% render_field form.new_password2|add_error_class:"is-invalid" type="password" id="password2" class="form-control" %}
                        <!-- <input type="password" id="password2" class="form-control"> -->
                        <label for="password2">Confirm New Password</label>
                        {% for error in form.errors.new_password2 %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="text-center mt-3 mb-4">
                        <button type="submit" class="btn btn-outline-primary"><strong>Reset Password</strong></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}