{% extends 'tools/base.html' %}

{% block content %}

<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-10 col-sm-12 mx-auto mt-1">
        <div class="card">
            <div class="card-header h4 white-text primary-color text-center py-4">
                <strong>Forget Password</strong>
            </div> 
            <div class="card-body">
                <p class="text-muted text-justify">Lost your password? Please enter your email address. 
                    You will receive a link to create a new password via email.
                </p>
                <form method="POST">
                    {% csrf_token %}
                    {% load widget_tweaks %}
                    <div class="md-form">
                        {% render_field form.email|add_error_class:"is-invalid" type="email" id="email" class="form-control" %}
                        <!-- <input type="email" id="email" class="form-control"> -->
                        <label for="email">Your email</label>
                        {% for error in form.errors.email %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="text-center mt-2 mb-3">
                        <button type="submit" class="btn btn-outline-primary"><strong>Reset your password</strong></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}